<nav class="navbar">
  <div class="container">
    <div class="nav-brand">
      <a href="/">
        <img src="/squawk.png" alt="Jackdaw" class="logo">
        Jackdaw
      </a>
    </div>
    <ul class="nav-menu">
      <li><a href="/installation.html">Install</a></li>
      <li><a href="/getting-started.html">Get Started</a></li>
      <li><a href="/commands.html">Commands</a></li>
      <li><a href="/templates.html">Templates</a></li>
      <li><a href="/content.html">Content</a></li>
      <li><a href="/deployment.html">Deploy</a></li>
      <li><a href="https://github.com/yourusername/jackdaw" class="github">GitHub</a></li>
    </ul>
  </div>
</nav>
